<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <variable name="basedir" value="Logs/${logger}/${level}/" />
  <targets>
    <target name="console" xsi:type ="Console" />
    <target name="debugger" xsi:type="Debugger" layout="${date:format=HH\:mm\:ss.fff}: ${message}" />
    <target name="logerror1" xsi:type="File"
                    fileName="${basedir}/${shortdate}.log" encoding="utf-8" maxArchiveFiles="30"
                    layout="${date:format=yyyy-MM-dd\ HH\:mm\:ss.fff}||${level}||${logger}||${message:escapeUnicode=false}||${var:exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=10:separator=\r\n:escapeUnicode=false}||${var:ip}||${var:appname}||${var:procname}||${var:stacktrace}||end" /> />
    <target xsi:type="file" encoding="utf-8" name="logerror2" fileName="Logs/${logger}/${level}/${shortdate}.log">
      <layout xsi:type="JsonLayout" includeAllProperties="false">
        <attribute name="@timestamp" layout="${date:format=yyyy-MM-dd\ HH\:mm\:ss.fff}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="category" layout="${var:procname}" escapeUnicode="false"/>
        <attribute name="message" layout="${message:escapeUnicode=false}" escapeUnicode="false"/>
        <attribute name="exception" layout="${var:exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=10:separator=\r\n:escapeUnicode=false}" escapeUnicode="false"/>
        <attribute name="stacktrace" layout="${var:stacktrace}" escapeUnicode="false"/>
        <attribute name="clientip" layout="${var:ip}" />
        <attribute name="environment" layout="production" />
        <attribute name="appname" layout="${var:appname}" />
      </layout>
    </target>
    
    <target name="loginfo1" xsi:type="File" encoding="utf-8"
                fileName="${basedir}/${shortdate}.log" maxArchiveFiles="30"
                layout="${date:format=yyyy-MM-dd\ HH\:mm\:ss.fff}||${level}||${logger}||${message:escapeUnicode=false}||${var:exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=10:separator=\r\n:escapeUnicode=false}||${var:ip}||${var:appname}||${var:procname}||${var:stacktrace}||${aspnet-appbasepath}||${aspnet-environment}||${aspnet-item}||${aspnet-mvc-action}||${aspnet-request}||${aspnet-request-ip}||${aspnet-request-method}||${aspnet-request-url}||${iis-site-name}||${rq-ip1}||end" /> />
    <target xsi:type="file" encoding="utf-8" name="loginfo2" fileName="Logs/${logger}/${level}/${shortdate}.log">
      <layout xsi:type="JsonLayout" includeAllProperties="false">
        <attribute name="@timestamp" layout="${date:format=yyyy-MM-dd\ HH\:mm\:ss.fff}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="category" layout="${var:procname}" escapeUnicode="false"/>
        <attribute name="message" layout="${message:escapeUnicode=false}" escapeUnicode="false"/>
        <attribute name="exception" layout="${var:exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=10:separator=\r\n:escapeUnicode=false}" escapeUnicode="false"/>
        <attribute name="stacktrace" layout="${var:stacktrace}" escapeUnicode="false"/>
        <attribute name="clientip" layout="${var:ip}" />
        <attribute name="environment" layout="production" />
        <attribute name="appname" layout="${var:appname}" />
        <attribute name="rqIP" layout="${rq-ip}" escapeUnicode="false"/>
        <attribute name="rqIP1" layout="${rq-ip1}"/>
        <attribute name="aspnet-request-ip" layout="${aspnet-request-ip}"/>
      </layout>
    </target>  
  </targets>
  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" /><!--Microsoft开头的不记录-->
    <logger name="*" writeTo="console" /><!--输出到客户端-->
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Error" writeTo="logerror1,logerror2" />
    <logger name="*" level="Info" writeTo="loginfo1,loginfo2" />
  </rules>
</nlog>